.tag-component {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  span {
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid #8892b0;
    padding: 0.3rem 0.7rem;
    margin: 0.3rem 0.5rem 0.3rem 0;
    border-radius: 4px;
    color: #8892b0;
    text-transform: uppercase;
    &:first-child {
      margin-left: 0;
    }
  }
}

.md {
  span {
    font-size: 0.8rem;
  }
}

.sm {
  span {
    font-size: 0.6rem;
  }
}
